/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* ROOT */
:root {
    --background: #E0E0E0;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --card-color1: #303031;
    --card-color2: #384C64;
    --card-color3: #8E8989;

    --font-main:'Open Sans', sans-serif;
}

/* GERAL */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    color: var(--black-color);
    font-family: var(--font-main);
    font-size: 1rem;
    font-weight: 400;
}

img {
    user-select: none;
}

/* HEADER */
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4% 0%;
}

.logo {
    width: 500px;
}

/* MAIN */
/* ABOUT */
#about {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    padding: 2% 4%;
}

.about__title {
    text-align: center;
    margin-bottom: 2%;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.about__text {
    font-size: 1rem;
    font-weight: 400;
}

/* CARDS */
#cards {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 3%;
}

.card__container {
    background-color: var(--white-color);
    border-radius: 7px;
    width: 100%;
    box-shadow: 0px 0px 4px var(--card-color3);
}

.card__title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white-color);
    padding: 20px 12px;
    border-radius: 7px 7px 0px 0px;
}

.card__color1 {
    background-color: var(--card-color1);
}

.card__color2 {
    background-color: var(--card-color2);
}

.card__color3 {
    background-color: var(--card-color3);
}

.card__text {
    padding: 30px 15px 40px 15px;
    font-size: 0.9rem;
    font-weight: 500;
}

@media screen and (min-width: 1600px) {
    /* HEADER */
    .logo {
        width: 800px;
    }

    /* MAIN */
    /* ABOUT */
    #about {
        padding: 3% 5%;
    }

    .about__title {
        margin-bottom: 2%;
        font-size: 2.2rem;
    }

    .about__text {
        font-size: 1.5rem;
    }

    /* CARDS */
    .card__title {
        font-size: 1.8rem;
        padding: 22px 15px;
    }

    .card__text {
        font-size: 1.3rem;
        padding: 40px 30px;
    }
}

@media screen and (max-width: 768px) {
    /* HEADER */
    #header {
        padding: 6% 0%;
    }
    .logo {
        width: 400px;
    }

    /* MAIN */
    /* ABOUT */
    #about {
        padding: 2% 5%;
    }

    .about__title {
        margin-bottom: 4%;
        font-size: 1.2rem;
    }

    /* CARDS */
    #cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3%;
        margin: 5%;
    }

    .card__title {
        font-size: 1.1rem;
        padding: 22px 15px;
    }

    .card__text {
        padding: 20px 15px;
    }
}

@media screen and (max-width: 425px) {
    /* HEADER */
    #header {
        padding: 10% 0%;
    }
    .logo {
        width: 275px;
    }

    /* MAIN */
    /* ABOUT */
    #about {
        padding: 5%;
    }

    .about__title {
        font-size: 1.25rem;
        margin-bottom: 6%;
    }

    .about__text {
        font-size: 1.2rem;
    }

    /* CARDS */
    #cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 0%;
    }

    .card__container {
        margin: 5% 0%;
    }

    .card__title {
        font-size: 1.4rem;
    }

    .card__text {
        font-size: 1.2rem;
        padding: 20px 15px;
    }
}

@media screen and (max-width: 319px) {
    /* GERAL */
    body {
        display: none;
    }
}

